.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{
  background-color: #d5ffce;
}

.logo{
  width: 85px;
    height: 85px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: white;
    border-radius: 100%;
    /* border-width: 1px; */
    transform: translateY(50%);
    /* border-style: solid; */
    /* border-color: rgba(0, 0, 0, 0.2); */
    border-image: initial;
}